body {
    margin: 0 auto;
    width: 70%;  
}

.header1, .header2, .header3 {
    margin-bottom: 1.5em;
    font-family: sans-serif;
}

table {
    border: 1px double black;
}

tr, th, td {
    border: 1px double black;
}

figcaption {
    font-style: italic;
}


figure {
    float: right;
    margin: 7px 0 7px 7px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
